.DS_Store
Megatron.pro.user
CanFestival/
Megatron-server/Megatron-server.pro.user

Megatron-client/Info.plist
Megatron-client/.qmake.stash
Megatron-client/Megatron-client.build/
Megatron-client/Megatron-client.xcodeproj/
Megatron-client/Megatron-client.pro.user
Megatron-client/Debug/
Megatron-client/tmp/

Megatron-video/Info.plist
Megatron-video/.qmake.stash
Megatron-video/Megatron-video.build/
Megatron-video/Megatron-video.xcodeproj/
Megatron-video/Megatron-video.pro.user
Megatron-video/Debug/
Megatron-video/tmp/
